#page {
  // !!! Do NOT change display type !!!
}

#page-item-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  //background-color: yellow;
  color: white;
}

#container {
  //width: 90%;
  //height: 90%;
  //grid-template-columns: auto;
  //grid-template-rows: auto;
  //grid-gap: 10px;
  //background-color: red;
}

.container-item {
  font-size: 1.5em;
  text-align: center;
  align-self: center;
  padding: 0.5em;
  background-color: rgba(0,0,100,0.3);
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,100,0.3);

  .input-group {
    display: flex;
    align-items: center;
    margin: 0.5em;
  }

  label {
    width: 8em;
    text-align: end;
    //background-color: steelblue;
    padding-right: 0.5em;
  }

  input, textarea {
    flex-grow: 1;
  }

  textarea {
    resize: none;
  }
}




